body {
    margin: 0;
    padding: 0;
}

#navigation-container {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    /* padding: 1rem 0 1.5rem 2rem */
    padding: 5px 15px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #327ba8;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    opacity: 0.7;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* 
div {
    width: 500px; 
    padding-bottom: 10px;
} */

#blueIntroDiv{
    background-color: #28648a;
    height: 50vh;
    width: 100%;
}

.btnparent{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /*changes position of button */
}

.startlearningbtn{
    text-align: center;
    margin: 0 auto;
    display: block;
}

#whitebodydiv{
    background-color: white;
    height: 50vh; 
    width: 100%
}

/* #blueIntroDiv, #whitebodydiv {
    border-bottom: 3px solid #1e2124; */
    /* margin-bottom: 50px; */
/* } */

.header{
    text-align: center;
}

#introTxt{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
