.imgButton{
    text-align:center;
    /* button */
  }

  table{
    margin-left: auto;
    margin-right: auto;
  }
 
  .display-btn{
    padding: 1.5rem;
    border-radius: 2rem !important;
  }

#answers-btns{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-row{
   width: 100%
}

#randomPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bodyQuiz{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-grid{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn{
  border-radius: 2rem !important;
  outline: none;
}

.btn-correct{
  background-color: rgb(35, 202, 35);
}

.btn-wrong{
  background-color: rgb(226, 58, 58);
}

.start-btn, .next-btn{
  font-weight: bold;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}