#welcome{
    color: skyblue;
}

.welcomediv{
    display: flex; 
    justify-content: center;
    padding-bottom: none;
}
.buttondiv{
    padding: 10rem;
    display: flex; 
    justify-content: center;
}

.button1{
    padding: 50px 150px 50px 150px;
    font-size: 55px;
}